<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>サブ武器追加ページ</title>
</head>
<body>
  <h2>追加欄</h2>
  <form action="/addsub">
    追加したいサブウェポンの『名前』を入力してください。<br>
    <input type="text" name="subname" id="subname" required><br>
    インク消費量を入力してください。<br>
    <input type="number" name="inkConsumption" id="inkConsumption" required>%<br>
    <input type="submit" value="登録"><br>
  </form><br><br>



  

  <h3>削除欄</h3>
  <form action="/deletesub">
    削除したいサブウェポンの『ID』を入力してください。<br>
    <input type="number" name="subid" id="subid" required><br>
    <input type="submit" value="削除" id="Button2"><br>
  </form><br><br>

  
  サブウェポン表<br>
  表示順：「ID」「名前」「インク消費量」<br><br>
  
  <table>
      <% for( let row of data) { %>
        <tr>
          <td><%= row.sub_id %>　</td>
          <td><%= row.SubWeaponName %>　</td>
          <td><%= row.inkConsumption %>%</td>
        </tr>
      <% } %>
  </table>



  <br><form action="/all2">
    <input type="submit" value="武器情報ページへ　-->"> 
  </form>

  <br><form action="/all">
    <input type="submit" value="検索ページへ　-->"> 
  </form>

  <br><form action="/main">
    <input type="submit" value="メイン武器追加ページへ　-->"> 
  </form>

  <br><form action="/special">
    <input type="submit" value="スペシャル武器追加ページへ　-->"> 
  </form>

  <br><br><a href="/public/input01.html"><--　トップページに戻る</a>
</body>
</html>