<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>スペシャル武器追加ページ</title>
</head>
<body>
  <h2>スペシャル武器追加欄</h2>
  <form action="/addspecial">
    追加したいスペシャルウェポンの『名前』を入力してください。<br>
    <input type="text" name="specialname" id="specialname" required><br>
    <input type="submit" value="登録" id="Button"><br>
  </form><br><br>

  <h3>削除欄</h3>
  <form action="/deletespecial">
    削除したいスペシャルウェポンの『ID』を入力してください。<br>
    <input type="number" name="specialid" id="specialid" required><br>
    <input type="submit" value="削除" id="Button2"><br>
  </form><br><br>
  スペシャルウェポンの表<br>
  表示順：「ID」「名前」<br><br>
  
  <table>
      <% for( let row of data) { %>
        <tr>
          <td><%= row.special_id %>　</td>
          <td><%= row.SpecialWeaponName %>　</td>
        </tr>
      <% } %>
  </table>


  <br><form action="/all2">
    <input type="submit" value="武器情報ページへ　-->"> 
  </form>

  <br><form action="/all">
    <input type="submit" value="検索ページへ　-->"> 
  </form>

  <br><form action="/main">
    <input type="submit" value="メイン武器追加ページへ　-->"> 
  </form>

  <br><form action="/sub">
    <input type="submit" value="サブ武器追加ページへ　-->"> 
  </form>

  <br><br><a href="/public/input01.html"><--　トップページに戻る</a>
</body>
</html>